<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Поиск</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rancho" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    {{ encore_entry_link_tags('app') }}
    <script>

    </script>
    <style>
        .select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection
        {
            border-color: transparent;
            box-shadow: none;
        }
        .select2-search select2-search--dropdown
        {
            border-color: transparent;
            box-shadow: none;
        }


        body {
            font-family: 'Roboto', sans-serif;
            background: #363636;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #252525;
            overflow: hidden;
        }

        .sidenav a {
            padding: 10px 20px 10px 10px;
            text-decoration: none;
            font-size: 25px;
            color: #FFFFFF;
            display: block;
        }

        .sidenav a:hover {
            background-color: #198754;
            color: #292929;
        }

        .sidenav a.active {
            background-color: #FFFFFF;
            color: white;
        }

        .main {
            margin-left: 200px;
            font-size: 20px;
            color: #FFFFFF;
            align: center;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            margin-left: 200px;
            height: 80px;
            overflow: hidden;
            background-color: #2C2C2C;
        }

        .topnav a {
            color: #FFFFFF;
            padding: 21px 20px;
            text-decoration: none;
            font-size: 25px;
        }

        .topnav a:hover {
            background-color: #198754;
            color: #292929;
        }


        .topnav a.active {
            background-color: #198754;
            color: #292929;
        }

        hr {
            border: none;
            border-bottom: 2px solid #464646;
            color: #464646;
            height: 2px;
            width: 85%;
            opacity: 1; !important;
            margin: 0.5em 0; !important;
        }

        .round {
            border-radius: 100px;
        }

        .logoutBtn {
            position: absolute;
            bottom: 0;
            width: 95px;
            padding: 10px 10px 10px 10px !important;
            border-radius: 1rem;
            border: none;
            margin-left: 2.2em;
            margin-bottom: 1em;
            background-color: #198754;
            font-size: 18px;
            color: #FFFFFF;
            text-decoration: none;
        }

        .information {
            width: 45%;
            height: 470px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.5rem;
            background: #292929;
        }

        input[type="text"] {
            width: 85%;
            border: none;
            border-radius: 0.25rem;
            padding: 0.375rem 0.75rem;
            background: #464646;
            color: #FFFFFF;
        }

        select {
            width: 89%;
            border: none;
            border-radius: 0.25rem;
            padding: 0.375rem 0.5rem;
            background: #464646;
            color: #FFFFFF;
        }

        textarea {
            width: 85.5%;
            background: #464646;
            border: none;
            border-radius: 0.25rem;
            padding: 10px;
            height: 100px;
            font-size: 14px;
            resize: none;
            color: #FFFFFF
        }

        .submitBtn {
            color: white;
            background: #198754;
            border-radius: 1rem;
            padding: 0.8em;
            font-size: 20px;
            border: none;
        }

        input::placeholder {
            color: #FFFFFF;
        }

        textarea::placeholder {
            color: #FFFFFF;
        }

        .searchBtn {
            color: #3F3F3F;
            background: #D6D6D6;
            border-radius: 1rem;
        }

        .swiper {
            width: 25%;
            height: 25%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            height: auto;
            background: transparent;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide .title {
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
            font-weight: bold;
            font-size: 12pt;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-slide {
            width: auto;
            height: auto;
        }

        .sidenavp {
            color: #FFFFFF;
            font-size: 25px;
            display: block;
            margin: 10px 10px; !important;
        }

        .swiper-button-prev {
            color: #198754;
        }

        .swiper-button-next {
            color: #198754;
        }
        .swiper-pagination-bullet-active {
            background-color: #198754;
        }

        ::-webkit-scrollbar {
            width: 15px;
            height: 15px;
        }
        ::-webkit-scrollbar-track-piece  {
            background-color: #464646;
        }
        ::-webkit-scrollbar-thumb:vertical {
            height: 30px;
            border-radius: 0.25rem;
            background-color: #198754;

        }
        .select2-search {
            background-color: #464646;
            color: white
        }

        .select2-search input {
            background-color: #464646;
            color: white
        }

        .select2-results {
            background-color: #464646;
            color: white;
        }

        .select2-container--bootstrap-5 .select2-selection {
            background-color: #464646;
            color: white;

            border: 1px solid #646B67;
        }

        .select2-search__field{
            background-color: #464646 !important;
            color: white !important;
        }
        .select2-selection__rendered{
            color: white !important;
        }

        .select2-selection__choice__display {
            color: white;
        }
        select {
            width: 20%;
            border: none;
            border-radius: 0.25rem;
            padding: 0.375rem 0.5rem;
            background: #464646;
            color: #FFFFFF;
        }

        .select2-container--bootstrap-5{
            width: 20% !important;

        }

        .someBtn:hover {
            color: #292929;
        }




    </style>
</head>
<body>

<div>
    <div class="sidenav">
        <p class="sidenavp" align="center" style="font-family: Rancho; font-size: 40px">
            Musifind</p>
        <a href="/profile">Профиль</a>
        <a href="/search" style="background-color: #198754; color: #292929">Поиск</a>
        <a href="/exit" class="logoutBtn"/>Выход</a>
    </div>

    <div class="topnav">
        <div style=" display: inline;">
            {% set break = false %}
            {% for path in profile.getImages %}
                {% if path.priority == 1 %}
                    <img style="border-radius: 100%; float: right; vertical-align: middle; margin: 10px 20px 10px 10px;" src="{{ asset("images/" ~ path.path ~ '') }}" width="60px" height="60px">
                    {% set break = true %}
                {% endif %}
            {% endfor %}
            {% if break == false %}
                <img style="border-radius: 100%; float: right; vertical-align: middle; margin: 10px 20px 10px 10px;" src="{{ asset("images/Profile.png") }}" width="60px" height="60px">
            {% endif %}
        </div>
        <a href="/profile" style="font-size:25px; vertical-align: middle; display: inline; float: right;">
            {{ fullName }}</a>
    </div>
</div>

<div class="main">
    <center><hr>
        <p style="color:#FFFFFF; font-size:20px">
            Поиск по жанрам</p>
    {{ form_start(form) }}
    {{ form_widget(form.genre) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    {% for message in app.flashes('error') %}
        {{ message }}
    {% endfor %}
    {% if search == true %}
        <br>

    </center>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            {% for user in correctUsers %}
                {% if user.login != login %}
                    <div class="swiper-slide" url-val="/profile/{{ user.id }}"
                         onclick="location.href('/profile/{{ user.id }}')">
                        {% set noAvatar = true %}
                        {% for image in user.profile.images %}
                            {% if image.priority == 1 %}
                                <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                     src="images/{{ image.getPath }}" class="swiper-lazy">
                                <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                    <button class="someBtn btn btn-success">{{ user.login }}</button>
                                </a>
                                {% set noAvatar = false %}
                            {% endif %}
                        {% endfor %}
                        {% for image in user.profile.images %}
                            {% set i = 0 %}
                            {% if noAvatar == true and i == 0 %}
                                <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                     src="images/{{ image.getPath }}" class="swiper-lazy">
                                <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                    <button class="someBtn btn btn-success">{{ user.login }}</button>
                                </a>
                            {% endif %}
                            {% set i = i + 1 %}
                        {% endfor %}
                        {% if user.profile.images is empty %}
                            <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                 src="{{ asset("images/Profile.png") }}" class="swiper-lazy">
                            <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                <button class="someBtn btn btn-success">{{ user.login }}</button>
                            </a>
                        {% endif %}

                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    {% endif %}
    {% if search == false %}

        <center><hr></center>
        <p style="color:#FFFFFF; font-size:20px">
            Высокая совместимость</p>
        <center><hr></center>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            {% for user in usersHigh %}
                {% if user.login != login %}
                    <div class="swiper-slide" url-val="/profile/{{ user.id }}"
                         onclick="location.href('/profile/{{ user.id }}')">
                        {% set noAvatar = true %}
                        {% for image in user.profile.images %}
                            {% if image.priority == 1 %}
                                <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                     src="images/{{ image.getPath }}" class="swiper-lazy">
                                <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                    <button class="someBtn btn btn-success">{{ user.login }}</button>
                                </a>
                                {% set noAvatar = false %}
                            {% endif %}
                        {% endfor %}
                        {% for image in user.profile.images %}
                            {% set i = 0 %}
                            {% if noAvatar == true and i == 0 %}
                                <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                     src="images/{{ image.getPath }}" class="swiper-lazy">
                                <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                    <button class="someBtn btn btn-success">{{ user.login }}</button>
                                </a>
                            {% endif %}
                            {% set i = i + 1 %}
                        {% endfor %}
                        {% if user.profile.images is empty %}
                            <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                 src="{{ asset("images/Profile.png") }}" class="swiper-lazy">
                            <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                <button class="someBtn btn btn-success">{{ user.login }}</button>
                            </a>
                        {% endif %}

                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

        <center><hr></center>
        <p style="color:#FFFFFF; font-size:20px">
            Средняя совместимость</p>
        <center><hr></center>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for user in usersMid %}
                {% if user.login != login %}
                    <div class="swiper-slide" url-val="/profile/{{ user.id }}"
                         onclick="location.href('/profile/{{ user.id }}')">
                        {% set noAvatar = true %}
                        {% for image in user.profile.images %}
                            {% if image.priority == 1 %}
                                <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                     src="images/{{ image.getPath }}" class="swiper-lazy">
                                <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                    <button class="someBtn btn btn-success">{{ user.login }}</button>
                                </a>
                                {% set noAvatar = false %}
                            {% endif %}
                        {% endfor %}
                        {% for image in user.profile.images %}
                            {% set i = 0 %}
                            {% if noAvatar == true and i == 0 %}
                                <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                     src="images/{{ image.getPath }}" class="swiper-lazy">
                                <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                    <button class="someBtn btn btn-success">{{ user.login }}</button>
                                </a>
                            {% endif %}
                            {% set i = i + 1 %}
                        {% endfor %}
                        {% if user.profile.images is empty %}
                            <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                 src="{{ asset("images/Profile.png") }}" class="swiper-lazy">
                            <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                <button class="someBtn btn btn-success">{{ user.login }}</button>
                            </a>
                        {% endif %}
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>

                    </div>
                {% endif %}

            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

        <center><hr></center>
        <p style="color:#FFFFFF; font-size:20px">
            Низкая совместимость</p>
        <center><hr></center>

    <div class="swiper mySwiper mb-5">
        <div class="swiper-wrapper">
            {% for user in usersLow %}
                {% if user.login != login %}
                    <div class="swiper-slide" url-val="/profile/{{ user.id }}"
                         onclick="location.href('/profile/{{ user.id }}')">
                        {% set noAvatar = true %}
                        {% for image in user.profile.images %}
                            {% if image.priority == 1 %}
                                <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                     src="images/{{ image.getPath }}" class="swiper-lazy">
                                <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                    <button class="someBtn btn btn-success">{{ user.login }}</button>
                                </a>

                                {% set noAvatar = false %}
                            {% endif %}
                        {% endfor %}
                        {% for image in user.profile.images %}
                            {% set i = 0 %}
                            {% if noAvatar == true and i == 0 %}
                                <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                     src="images/{{ image.getPath }}" class="swiper-lazy">
                                <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                    <button class="someBtn btn btn-success">{{ user.login }}</button>
                                </a>
                            {% endif %}
                            {% set i = i + 1 %}
                        {% endfor %}
                        {% if user.profile.images is empty %}
                            <img href="/profile/{{ user.id }}" onclick="location.href('/profile/{{ user.id }}')"
                                 src="{{ asset("images/Profile.png") }}" class="swiper-lazy">
                            <a class="title " href="/profile/{{ user.id }}" data-swiper-parallax="-100">
                                <button class="someBtn btn btn-success">{{ user.login }}</button>
                            </a>
                        {% endif %}
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>

                    </div>
                {% endif %}

            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    {% endif %}
    {% if search == true %}
    <center>
    <a href="/search">
        <button class="someBtn btn btn-outline-danger mt-2" >Назад</button>
    </a>
    </center>
    {% endif %}

</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: "1",
        centeredSlides: true,
        preventClicks: false,
        preventClicksPropagation: false,
        calculateHeight: true,
        preloadImages: false,
        lazy: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        keyboard: {
            enabled: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<script type="text/javascript">

    $('.js-example-basic-single').select2({
        dropdownCssClass: 'bigdrop',
        containerCssClass : "shadow-none",
        'theme': 'bootstrap-5',
        "language": {
            "noResults": function () {
                return "Нет результатов";
            }
        }
    });
</script>

</body>
</html>
